# Ignore sensitive config
backend/src/main/resources/application.yml

# Build / output folders
backend/target/
target/
*.jar
*.war

# Node / frontend dependencies
node_modules/
dist/
build/

# IDE / system files
.idea/
.vscode/
*.iml
*.class
.DS_Store
*.log

# Temporary storage folder
backend/garage-storage/
