
# Ignore ALL target folders anywhere
**/target/
*.jar
*.war


# Ignore config / secrets
backend/src/main/resources/application.yml

# Frontend dependencies
node_modules/
dist/
build/

# IDE files
.idea/
.vscode/
*.iml
*.class

# Custom storage
backend/garage-storage/
